<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
  
   <add key ="LocalPath" value = "C:\git\DataGenerator" />
    <!-- <add key ="LocalPath" value = "B:\Users\wooda01.ADMINSRVAD\git\Applications\DataGenerator" />-->
    
    <add key ="DefaultInteger" value = "-99" />
    <add key ="DefaultString" value = "" />

  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>